nav.navbar ul {
	margin-bottom: 10vh;
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
}

nav.navbar ul li.item a {
	min-width: 150px;
	text-align: center;
	padding: 1em 2em;
	border: 1px solid #dadce0;
	border-radius: 3px;
	display: block;
	transition: 0.15s;
}
nav.navbar ul li.item a:hover {
	background-color: #dadce0;
}
