.page-posts {
  display: flex;
  gap: 1.5em;
  align-items: center;
  flex-direction: column;
}

.posts {
  display: flex;
  gap: 2em;
  align-items: center;
  flex-direction: column;
}

.posts .post-summary {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  display: flex;
  gap: 0.25em;
  flex-direction: column;
  transition: 0.15s;
}

.posts .post-summary:hover {
  border: 1px solid #dadce0;
  background-color: #dadce0;
  box-shadow: 0 0 10px 20px #dadce0;
}

.posts .post-summary .body {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.posts .post-summary .author {
  color: #999;
  font-size: 0.9em;
  font-style: italic;
  display: flex;
  gap: 0.25em;
  justify-content: flex-end;
}

.posts .post-summary .author .username,
.posts .post-summary .author .date {
  color: #3f88c5;
}
